!!! 5
%html
  %head
    %title
      Fake batch of mock ups.
    %link{ :href => 'css/foo.css', :media => 'screen', :rel => 'stylesheet', :type => 'text/css' }
  %body
    %h1
      This is an H1!
    %p
      This a paragraph.
    %p
      And here is an image taken from <a href="http://uncyclopedia.wikia.com/wiki/File:Adobe_potatochop_cs4_box.png">the internet</a>:
      %br
      %img{ :src => 'img/potatochop_cs4_box.png' }